*{
    margin: 0;
    padding: 0;
    ul,li{
        list-style: none;
    }
    a{
        text-decoration: none;
    }
}
:root{
    --preto: #000000;
    --cor-de-fundo: rgb(76, 73, 73);
    --azul-claro: #66b3ff;
    /* Novas variáveis para a dieta (copiadas de dieta.html) */
    --primary-color: rgb(24, 179, 173); /* Verde-água para elementos primários */
    --secondary-color:#f1f1f1; /* Cinza claro para fundos secundários */
    --text-color: #333; /* Cor de texto padrão */
    --border-color: #ddd; /* Cor de borda padrão */
    --success-color: #4caf50; /* Verde para sucesso */
    --warning-color: #ff9800; /* Laranja para aviso */
    --danger-color: #f44336; /* Vermelho para perigo */
    --button-success-color: #2ecc71; /* Um verde ligeiramente diferente para botões de sucesso, pode ser o mesmo do success-color */
    --button-danger-color: #e74c3c; /* Um vermelho ligeiramente diferente para botões de perigo, pode ser o mesmo do danger-color */
}
header{
    background-color: var(--preto);
    color: var(--branco);
    padding: 10px 20px;
}
.avatar{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.header__menu{
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin-right: 40px;
}
.header__menu a{
  color: whitesmoke;
  margin-left: 20px;
    font-size: 20px;
    text-transform: uppercase;
}

body{
    font-family: Arial, sans-serif;
    background-color: var(--cor-de-fundo);
}
.cartões__titulo{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  color:whitesmoke
}
.cartões__objetivos{
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    gap: 30px;
}
.cartão{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--preto);
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 20px 50px 20px 50px;
    text-align: center;
    transition: transform 0.3s;
    width: 300px;
    font-size: large;
    text-transform: uppercase;
}
.cartão a{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.imagem_cartão{
    width: 250px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.imagem_cartão:hover{
    filter: blur(1px);
    transition: filter 0.3s;
}
.cartão:hover{
    transform: scale(1.1);
}

